[submodule "submodules/xnode"]
	path = submodules/xnode
	url = https://github.com/Medialooks-LLC/xnode.git
	branch = v1.0.1.2-beta
[submodule "submodules/xbase"]
	path = submodules/xbase
	url = https://github.com/Medialooks-LLC/xbase.git
	branch = v1.0.1.2-beta
