[submodule "submodules/xnode"]
	path = submodules/xnode
	url = https://github.com/Medialooks-LLC/xnode.git
	branch = xm-v1.0.1.8-beta
[submodule "submodules/xbase"]
	path = submodules/xbase
	url = https://github.com/Medialooks-LLC/xbase.git
	branch = xm-v1.0.1.8-beta
