[submodule "submodules/xnode"]
	path = submodules/xnode
	url = https://github.com/Medialooks-LLC/xnode.git
	branch = github-xmedia-beta-ver1.0.1.2
[submodule "submodules/xbase"]
	path = submodules/xbase
	url = https://github.com/Medialooks-LLC/xbase.git
	branch = github-xmedia-beta-ver1.0.1.2
